doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(property="fb:app_id", content="999880487247115")
    meta(og:type="og:type", content="website")    
    meta(property="og:title", content="#{title}")
    meta(property="og:url", content="#{url}")    
    meta(property="og:description", content="5分鐘打造專屬的零售 APP。專為中小零售設計的商務App，各業態零售商家都能快速簡單整合並產出POS及進銷存，多支手機連動的專屬系統。")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <meta property="og:image" content="https://www.blueberrytech.io/img/indexSnapshot.png">
    title SEO WEB
  body 
    div #{title}
    div #{url}